.header {
  padding: 1rem 6rem;
  display: flex;
  height: 7rem;
  align-items: center;
  justify-content: space-between;

  & .options {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & .sign-in,
    & .sign-out {
      background-color: #00ebc7;
      color: #00214d;
      border-radius: 30px;
      padding: 8px 15px;
      cursor: pointer;
    }

    & .option {
      margin-right: 2rem;
      font-size: 1rem;
      color: rgb(5, 0, 36);
      cursor: pointer;
      font-weight: 600;
      text-decoration: none;
      transition: all 0.5 ease-in;
      &:hover {
        text-decoration: underline;
        color: rgb(11, 0, 158);
      }
    }
  }
}
