.header {
  padding: 1rem 6rem;
  display: flex;
  height: 6rem;
  align-items: center;
  justify-content: space-between;
  background-color: #00214dd3;

  & .logo {
    width: 4.4rem;
  }

  & .options {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & .sign-in,
    & .sign-out {
      background-color: #00ebc7;
      color: #00214d;
      border-radius: 30px;
      padding: 8px 15px;
      cursor: pointer;
    }

    & .option {
      margin-right: 2rem;
      font-size: 1rem;
      color: #fff;
      cursor: pointer;
      font-weight: 600;
      text-decoration: none;
      transition: all 0.5s ease-in;
      &:hover {
        transform: scale(1.06);
      }
    }
  }
}
