.header {
  padding: 1rem 6rem;
  display: flex;
  height: 4.5rem;
  align-items: center;
  justify-content: space-between;
  background-color: #1b2d45;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  & .logo-container {
    display: flex;
    align-items: center;
  }

  & .logo {
    width: 3rem;
    margin-right: 0.5rem;
    height: 100%;
    object-fit: contain;
  }

  & .title {
    color: #fff;
  }

  & .options {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & .sign-in,
    & .sign-out {
      background-color: #00ebc7;
      color: #00214d;
      border-radius: 30px;
      padding: 8px 15px;
      cursor: pointer;
    }

    & .option {
      margin-right: 2rem;
      font-size: 1rem;
      color: #fff;
      cursor: pointer;
      font-weight: 600;
      text-decoration: none;
      transition: all 0.2s ease-in;

      &:hover {
        color: #00ebc7;
        transform: scale(1.06);
      }
    }
  }
}
